<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555455729664-2ik9rul9990rpnioi6u1dn4tj3u7ljra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555455729664-2ik9rul9990rpnioi6u1dn4tj3u7ljra</string>
	<key>API_KEY</key>
	<string>AIzaSyCKFWHtYovf53VeFVuO-OTPP2kyVKweESo</string>
	<key>GCM_SENDER_ID</key>
	<string>555455729664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Home-Inc..RSSReader</string>
	<key>PROJECT_ID</key>
	<string>rssreader-321fa</string>
	<key>STORAGE_BUCKET</key>
	<string>rssreader-321fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555455729664:ios:b3dab56dc2d09e69</string>
	<key>DATABASE_URL</key>
	<string>https://rssreader-321fa.firebaseio.com</string>
</dict>
</plist>